/**********Common-Style**********/
*{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
}
ul li{

    list-style: none;
}
a{
    text-decoration: none;
}
body {
    position: relative;
}
.jp-carousel-titleanddesc-title{
    display:none;
}
.homebody{
    padding-top:140px !important;
}
#mega-menu-wrap-new-menu #mega-menu-new-menu > li.mega-menu-item > a.mega-menu-link:hover{
    background: #666 !important;
    color: white !important;

}


.mega-sub-menu li a:hover{
    background: #545454 !important;
    cursor: pointer;
    color: white !important;
}

.mega-sub-menu .mega-current-menu-item> a{
    color:red !important;
}



/*.projectsCatagory ul li a{*/
/*!*border-bottom: 1px solid red;*!*/
/*text-decoration: none;*/
/*color: red;*/
/*padding-bottom: 13px;*/
/*}*/
/*.projectsCatagory li{*/
/*position: relative;*/
/*list-style: none;*/
/*width: 130px;*/
/*text-align: right;*/
/*margin-right: 15px;*/
/*!*margin-top: 8px;*!*/
/*}*/
/*.projectsCatagory li ul{*/
/*position: absolute;*/
/*list-style: none;*/
/*z-index: 999;*/
/*background: white;*/
/*padding-top: 5px;*/
/*}*/

.mjh-catagory{
    padding-top:120px;
}
.mjh_thumbnailImg{
    padding-top:80px;
}
.projectsCatagory{
    position: relative;
}
.projectsCatagory:hover ul{
    z-index:10;
}
.projectsCatagory ul{
    position: absolute;
    opacity: 0;
    margin-top: 10px;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    transition-property: opacity, margin-top, visibility;
    z-index: 0;
    margin-top: 10px;
    width: 150px;
    background: white;
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.41);
    color: black;
    right: 0;
}
.projectsCatagory ul li{
    border-bottom: 1px solid rgba(255, 0, 0, 0.29);
}
.projectsCatagory ul li:last-child{
    border-bottom: none;
}
.projectsCatagory ul li a{
    color: #000;
    padding: 10px 11px;
    text-align: left;
    display: inline-block;
    width: 100%;
}
.projectsCatagory ul li a:hover{
    background: #545454;
    cursor: pointer;
    color: white;
}
.projectsCatagory ul li.current-cat a{
    color: red;
}
.projectsCatagory:hover ul{
    opacity: 1;
    margin-top: 0px;
}
.currentCategory{
    position: relative;
    padding-right: 21px;
}
.currentCategory:before {
    content: "";
    width: 7px;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #979797;
    position: absolute;
    top: 5px;
    right: 0;
}
.footerthree h3{
    font-size: 8px !important;
    margin: 0;
    font-size: 11px;
    text-align: right;
    top: -15px;
    right: 15px;
    position: absolute;
}
.footerthree h3 a {
    color: red;
    text-decoration: none;
}
/*============Header============*/
.projectheader{
    padding-top: 5px;
    position: absolute;
    width: 100%;
}
.main_navigation{
    float: right;
    padding-top: 55px;
    font-family:Myriad Pro;
}
.main_navigation ul li{
    float: left;
    padding: 10px 15px;
}
.main_navigation ul li a{
    color: black;
}
.main_navigation ul li a:hover,
.main_navigation ul li a:focus {
    color: black;
    text-decoration: none;
}
.header{
    width:100%;
    position: fixed;
    background: white;
    z-index: 1971;
    padding-top: 15px;
    box-shadow: 0px 0px 14px -14px black;
}
.googlemap{
    margin-left: -10%;
    margin-right: -9%;
    border: transparent !important;
}

/***********Navigation*********/

#mega-menu-wrap-new-menu #mega-menu-new-menu[data-effect="fade_up"] li.mega-menu-item.mega-menu-megamenu > ul.mega-sub-menu, #mega-menu-wrap-new-menu #mega-menu-new-menu[data-effect="fade_up"] li.mega-menu-item.mega-menu-flyout ul.mega-sub-menu{
    z-index: 2000;
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.41);
}
.bridgeholdingLogo a{
    text-decoration: none;
}
.bridgeholdingLogo img{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
}
.bridgeholdingLogostyle img{
    position: absolute;
    top: 4px;
    width: 100px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.slogan{
    font-family: pristina;
    margin-left: 100px;
    position: relative;
    top: 86px;
    left: 50px;
    display: block;
    font-size: 24px;
    color: black;
    line-height: 0;
}
.bridgeholdingslogan{
    display: none;
    margin-left: 40px;
    font-size: 15px;
}
.navbar.navbar-default.transparent{
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.nav>ul li {
    position: relative;
    display: block;
}
.nav>ul li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: black;
    font-family: "Letter Gothic Std";
}
.nav>ul li a:hover,
.nav>ul li a:focus {
    color: #23527c;
    text-decoration: none;
}
#mega-menu-wrap-new-menu #mega-menu-new-menu > li.mega-menu-megamenu.mega-menu-item {
    position: initial;
}
#mega-menu-wrap-new-menu,
#mega-menu-wrap-new-menu #mega-menu-new-menu,
#mega-menu-wrap-new-menu #mega-menu-new-menu ul.mega-sub-menu,
#mega-menu-wrap-new-menu #mega-menu-new-menu li.mega-menu-item,
#mega-menu-wrap-new-menu #mega-menu-new-menu a.mega-menu-link{
    position: static;
    text-transform: capitalize !important;
    font-family:Myriad Pro;
    padding: 0px;
}
#mega-menu-wrap-new-menu #mega-menu-new-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link{
    font-size: 14px;
    text-transform: capitalize;
}
#mega-menu-wrap-new-menu #mega-menu-new-menu > li:before{
    content: "";
    position: absolute;
    height: 14px;
    width: 1px;
    border-left:1px solid #717374;
    right: 0;
    left: 0;
    top: 13px;
    bottom: 0;
    margin: auto;
}
#mega-menu-wrap-new-menu #mega-menu-new-menu > li:first-child:before{
    border:none;
}
#mega-menu-wrap-new-menu #mega-menu-new-menu li.mega-menu-item a.mega-menu-link:before{
    position: inherit;
}
#mega-menu-wrap-new-menu #mega-menu-new-menu > li.mega-menu-flyout ul.mega-sub-menu{
    min-width: 265px;
}
.mega-sub-menu li{
    border-bottom: 1px solid rgba(241, 88, 88, 0.5) !important;
    /*border-bottom: 1px solid #ababab !important;*/
}
.mega-sub-menu li:last-child{
    border: none !important;
}
#mega-menu-wrap-new-menu #mega-menu-new-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link {
    padding: 5px 17px 5px 17px !important;
}

#mega-menu-wrap-new-menu #mega-menu-new-menu li.mega-menu-flyout.mega-menu-item-has-children > a.mega-menu-link:after,
#mega-menu-wrap-new-menu #mega-menu-new-menu li.mega-menu-flyout li.mega-menu-item-has-children > a.mega-menu-link:after,
#mega-menu-wrap-new-menu #mega-menu-new-menu > li.mega-menu-item-has-children > a.mega-menu-link:after {
    margin: 0 0 0 2px;
}
#mega-menu-wrap-new-menu #mega-menu-new-menu > li.mega-menu-flyout ul.mega-sub-menu {
    background: rgba(255, 255, 255, 0.5);
}
#mega-menu-wrap-new-menu #mega-menu-new-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link:hover, #mega-menu-wrap-new-menu #mega-menu-new-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link:focus {
    /*background: transparent;*/
    background: white;
}
#mega-menu-wrap-new-menu #mega-menu-new-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link{
    background: white;
    /*background: transparent;*/
    color:black;
}
#mega-menu-wrap-new-menu #mega-menu-new-menu li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item a.mega-menu-link {
    text-align: left;
}
#mega-menu-item-38 a.mega-menu-link{
    padding-right: 0!important;
}

/*

{*/
/*background-image: url("../images/bridge-shadow.png") ;*/
/*background-position: bottom right;*/
/*background-repeat: no-repeat;*/
/*}*/
/*============Footer============*/
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-top: 50px;
}
/*#footer:before{*/
/*content: "";*/
/*position: absolute;*/
/*background-image: url(../images/bridge-shadow.png);*/
/*!* background-position: bottom right; *!*/
/*background-repeat: no-repeat;*/
/*background-size: 100% 100%;*/
/*height: 482px;*/
/*width: 1099px;*/
/*z-index: 77777;*/
/*bottom: 61px;*/
/*right: 17px;*/
/*}*/
.footerpone{
    width:33.33%;
    float: left;
    height: 60px;
    background-color:black;
}
.footertow{
    width:33.33%;
    float: left;
    height: 60px;
    color: white;
    text-align: center;
    font-family: Oswald;
    background-color:red;
}
.footerthree{
    width:33.33%;
    float: left;
    height: 60px;
    background-color:#545454;
    position: relative;
}

.footertow h4 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 3px;
}
.footertow h3 {
    font-size: 28px;
    margin: 0;
}
.t-name{
    font-size: 55px;
    font-family: Tekton Pro;
}
.t-name h1{
    font-size: 56px;
    margin: 0;
}
.t-name h1 .black{
    color:black;
}
.t-name h1 .red{
    color:red;
}
.t-name h1 .gray{
    color: gray;
}
/************Common-End***********/

/*************Home***************/
/*.homebody{*/
/*padding: 40px 0px;*/
/*}*/
.home-cat-proj{
    float: left;
    width:33.333333%;
    padding: 0 5px;
}
.item{
    text-align: center;
    padding:10px 0;
}
.item figure{
    position: relative;
    margin: auto;
    width:305px;
    height: 305px;
    /*padding: 11px;*/
}
.item figure img{
    display: block;
    width:100%;
    height: 100%;
    border-radius: 100%;
    /*border: 2px solid #717374;*/
    box-shadow:2px 2px 10px 2px rgba(204, 204, 204, 0.69)
}
.item figure figcaption{
    position: absolute;
    top: initial;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 40%;
    width: 100%;
    color:white;
    text-align: center;
    border-radius: 0;
    transition-duration: .2s;
    transition-timing-function: linear;
    transition-delay: .1s;
    cursor:pointer;
}
.item figure figcaption span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 15%;
    width: 85%;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.6;
    font-family: 'Myriad Pro';
    color: white;
    text-shadow: 1px 1px 2px black;
}
.item figure div.category{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50%;
    width: 50%;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 100%;
    /*background: red;*/
    background: rgba(255, 255, 255, 0.35);
    -webkit-transition:1s; /* Safari */
    -moz-transition:.5s;
    -o-transition:.5s;
    transition:  .5s;
    border:1px dotted rgba(255, 255, 255, 0.19);
}

.item figure div.category h3{
    margin: 0;
    font-weight: bold;
    font-family: 'Myriad Pro';
    /*font-family: initial;*/

}
.item figure div.category h3 span{
    color: red;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    height: 30px;
    width: 100%;
    font-size: 20px;
    text-shadow: 1px 1px 4px white;
}
.item figure div.category.handed-over h3 span{
    top: -20px;
}
.item figure div.category h3 span strong{
    color: red;
    text-shadow: 1px 1px 4px white;
    font-size: 24px;
    -webkit-transition:.5s; /* Safari */
    -moz-transition:.5s;
    -o-transition:.5s;
    transition:  .5s;
    text-transform: capitalize;
}

/*li.categories{*/
/*list-style: none;*/
/*text-align: center;*/
/*text-transform: capitalize;*/
/*}*/
/*li.categories ul li a{*/
/*text-decoration: none;*/
/*}*/
#first-demo .item figure:hover div,
#second-demo .item figure:hover div,
#third-demo .item figure:hover div{
    color: white;
    height: 95%;
    width: 95%;
    /*background: red;*/
    background: white;
}
#first-demo .item figure:hover div h3 span,
#second-demo .item figure:hover div h3 span,
#third-demo .item figure:hover div h3 span{
    font-size: 20px;
    /*height: 15%;*/
    color: red;
}

#first-demo .item figure:hover div h3 span strong,
#second-demo .item figure:hover div h3 span strong,
#third-demo .item figure:hover div h3 span strong{
    font-size: 40px;
    /*height: 15%;*/
}
/*#first-demo .item figure:hover figcaption .projects,*/
/*#second-demo .item figure:hover figcaption .projects,*/
/*#third-demo .item figure:hover figcaption .projects{*/
/*!*display: none;*!*/
/*}*/
/*=============animation============*/
#first-demo .item figure:hover .Xrw-words-1 span,
#second-demo .item figure:hover .Xrw-words-1 span,
#third-demo .item figure:hover .Xrw-words-1 span{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
    display: none;
}
.Xrw-words{
    display: inline;
    text-indent: 10px;
}
.Xrw-words-1 span{
    position: absolute;
    opacity: 0;
    color: white;
    -webkit-animation: rotateWord 6s linear infinite 0s;
    -moz-animation: rotateWord 6s linear infinite 0s;
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    20% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
    50% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    100% { opacity: 1; }
}
@-moz-keyframes rotateWord {
    0% { opacity: 0; }
    20% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
    50% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    100% { opacity: 1; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    20% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
    50% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    100% { opacity: 1; }
}
/*=============Category&Isotope==============*/
#home{
    padding-top:15px;
}
#filters{
    display: inline-block;
    text-transform: capitalize;
    font-family: 'Myriad Pro';
}
#filters li{
    display: inline-block;
    margin: 0px 5px;
}
#filters li:last-child{
    margin-right: 0px;
}
#filters li:first-child{
    margin-left: 0px;
}
.isotopeitem.item{
    display: block;
    width: 150px;
    padding: 10px;
    float: left;
}
.isotopeitem.item:first-child{
    padding-left: 0;
}
.isotopeitem.item img{
    width:100%;
    height: 100%;
}
.isotopeitem.item .singleItems a{
    height: 175px;
    display: block;
    text-decoration: none;
}
.isotopeitem.item .singleItems:hover{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}
.isotopeitem.item .singleItems:hover .projectNameCatwise{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    background: #666;
}
.isotopeitem.item .singleItems:hover .projectNameCatwise span{
    color: white;
}

.isotopeitem.item .singleItems a:hover h6{
    color: red;
}


{
    padding: 30px 0px;
}
.catWiseProjects{
    padding: 10px 0px;
    margin: 10px 0px;
    border-bottom: 1px solid red;
}
.projectsCatagory{
    float: right;
    text-transform: capitalize;
    font-family: 'Myriad Pro';
}
.catWiseProjects ul li a{
    color: black;
    text-decoration: none;
}
.catWiseProjects ul li a.selected{
    /*border-bottom: 1px solid red;*/
    text-decoration: none;
    color: black;
    /*font-weight: bold;*/
    font-size: 16px;
    /*color: black;*/
    padding-bottom: 11px;
}

/*============details&tabs-styles==========*/
.osc-res-tab .nav {
    display: inline-block;
    border: none;
    float: right;
}
.osc-res-tab .nav-pills>li.active>a,
.osc-res-tab .nav-pills>li.active>a:hover,
.osc-res-tab .nav-pills>li.active>a:focus {
    background-color: black;
    border-radius: 0;
    text-align: center;
}
.osc-res-tab .nav-pills>li {
    float: none;
    text-align: center;
}
.osc-res-tab .nav-pills>li+li {
    margin-left: 0;
}
.osc-res-tab.tabbable.osc-tabs-left div{
    clear:none !important;
    text-align: center;
    overflow:hidden;
}
.osc-res-tab.tabbable.osc-tabs-left div img{
    width: 100%;
}
.projectName{
    text-align: left;
    float: left;
    /* margin: 20px 0px; */
    /* margin: 13px 0px; */
    font-size: 20px;
    /* font-family: Oswald; */
    /* font-family: "Letter Gothic Std"; */
    font-family: 'Myriad Pro';
    margin: 0;
}
.projectName span{
    display: block;
    font-size: 12px;
    text-align: left;
    padding: 3px 0px;
}
.projectNameCatwise:hover {
    color: red;
}
.projectNameR{
    font-size: 18px;
    top: 0px;
    margin: 10px 0px;
    position: absolute;
}
.projectNameplus{
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;
    top: 65px;
    width: 1140px !important;
    margin: auto;
}
.projectNameCatwise{
    color:black;
    text-align: center;
    margin: 0;
    font-family: 'Myriad Pro';
    padding: 15px 1px 10px;
    font-size: 20px;
    min-height: 80px;
}
.projectNameCatwise span{
    color: #545454;
    font-size: 14px;
    display: block;
}
.tablists .customeContainer {
    padding-top: 30px;
}
#myScrollspy{
    position: fixed;
    top: 137px;
    background: white;
    z-index: 1971;
    left: 0;
    right: 0;
    margin: auto;
    padding-bottom: 0px;
    padding-top: 20px;
    border-bottom: 1px solid red;
}

#myScrollspy.tablists{
    position: fixed;
    z-index: 1;
    right: 0;
    left: 0;
    top:65px;
    border: none;
    margin: auto;
    padding: 0;
    background: white;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
    width: 100%!important;

}
.customeContainer{
    padding-top: 0px;
}

.tabtitles{
    width: 1140px;
    left: 0;
    right: 0;
    background: white;
    overflow: hidden;
    margin: auto;
    float: none!important;
}
.osc-res-tab .nav-tabs>li.active>a,
.osc-res-tab .nav-tabs>li.active>a:hover,
.osc-res-tab .nav-tabs>li.active>a:focus {
    color: red;
    background-color: #ffffff;
    border: none;
    border-bottom-color: transparent;
    cursor: default;
}
.osc-res-tab .nav-tabs>li>a:hover {
    border-color: transparent;
}
.osc-res-tab .nav>li>a:hover,
.osc-res-tab .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
    color: red;
}
.osc-res-tab .nav>li>a {
    color: black;
}
/*===========About============*/
.mjh_thumbnailImg{
    padding-top:120px;
}
.mjh_thumbnailImg .container-fluid{
    padding: 0;
}
.mjh_aboutCompany{
    position: relative;
    padding: 30px 0px 0px 0px;
}
.mjh_aboutCompany h3{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 50%;
    color: white;
    font-size: 68px;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px #000;
}
.mjh_aboutCompany img{
    width: 100%;
    height:100%;
}
.marketing h3,
.mjh_asLogo h3{
    text-transform: uppercase;
    margin: 0px 0px 20px 0px;
    padding: 20px 0px 10px;
    border-bottom: 1px solid red;
    font-family: 'Myriad Pro';
    /*box-shadow: 10px 10px 5px #888888;*/
}
.mjh_asLogo{
    /*overflow: hidden;*/
    padding-bottom: 20px;
}
.mjh_asLogo ul li {
    /*float: left;*/
    /*width: 25%;*/
}
.mjh_asLogo ul li figure{
    /*padding: 20px;*/
    /*min-height: 200px;*/
    /*box-shadow: 5px 5px 8px #888888;*/

    padding: 20px;
    min-height: 200px;
    box-shadow: 0px 0px 6px 0px #888888;
    margin-bottom: 30px;
}
.mjh_asLogo ul li img{
    width: 100%;
    min-height: 115px;
}
.mjh_abcompany{
    padding: 10px 0px 20px;
    text-align: justify;
    font-family: 'Myriad Pro';
}
.mjh_abcompany strong{
    /*text-transform: uppercase;*/
}
.mjh_abcompanyy{
    padding: 0;
}
.mjh_abcompanyy p{
    font-size: 18px;
    text-shadow: 0px 0px 9px #fff;
    color: black;
    padding: 15px 15px 15px 0;
    text-align: justify;
}
.mjh_abcompany p{
    font-size: 18px;
    text-shadow: 0px 0px 9px #fff;
    color: black;
    background: rgba(255, 255, 255, 0.58);
    padding: 15px 15px 15px 0;
    /* border-right: 2px solid red; */
    box-shadow: 5px 1px 9px -5px rgba(0, 0, 0, 0.36);
}
.mjh_abcompanyPara p{
    font-size: 18px;
}
.mjh_salse_marketing div{
    width: 250px;
    height: 250px;
    margin: auto;
    box-shadow: 0px 0px 10px 0px #888888;
}
/*===========Marketing============*/
.marketing{
    padding-top:50px ;
}
.mjh_salse_marketing img{
    width:100%;
    min-height: 179px;
    height: 100%;
}
.mjh_salse_marketing1 img{
    min-height: 179px;
    height: 100%;
}
.mjh_salse_marketing1{
    position:relative;
}
.mjh_salse_marketing1 div{
    text-align: center;
    width: 192px;
    height: 250px;
    margin: auto;
    box-shadow: 0px 0px 10px 0px #888888;
}
.mjh_salse_marketing {
    position: relative;
}
.mjh_salse_marketing {
    position: relative;
}
.mjh_salse_marketing.mjh_testfig img{
    /*transition-delay: 1s;*/
    transform:scale(1,1);
    -webkit-transition-timing-function: ease-in-out;
}
.mjh_salse_marketing.mjh_testfig:hover img{
    transform:scale(1.1,1.1);
}
.mjh_salse_marketing figcaption{
    min-height: 105px;
}
.mjh_salse_marketing figcaption.mjh_test{
    position: absolute;
    bottom: 0;
    color: white;
    text-align: left;
    padding: 20px;
    left: 0;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.mjh_salse_marketing figcaption{
    text-align: center;
    font-family: 'Myriad Pro';
    padding: 10px 0px;
}
.mjh_salse_marketing figcaption span{
    display: inline-block;
    font-family: 'Tekton Pro';
}
.mjh_salse_marketing figcaption p,
.mjh_salse_marketing figcaption h4{
    margin: 0;
}
.mjh_salse_marketing figcaption h4{
    font-size: 20px;
}
.mjh_salse_marketing figcaption em{
    font-size: 20px;
    font-style: italic;
}

.mjh_salse_marketing1 figcaption{
    text-align: center;
    font-family: 'Myriad Pro';
    padding: 10px 0px;
}
.mjh_salse_marketing1 figcaption span{
    display: inline-block;
    font-family: 'Tekton Pro';
}
.mjh_salse_marketing1 figcaption p,
.mjh_salse_marketing1 figcaption h4{
    margin: 0;
}
.mjh_salse_marketing1 figcaption h4{
    font-size: 20px;
}
.mjh_salse_marketing1 figcaption em{
    font-size: 20px;
    font-style: italic;
}
/*===========Gallery============*/
#gallery-6 img{
    border:none!important;
    border-radius: 100%;
    width: 150px;
    height: 150px;
}
#gallery-2 img{
    border:none!important;
    border-radius: 100%;
    width: 150px;
    height: 150px;
}
#gallery-3 img{
    border:none!important;
    border-radius: 100%;
    width: 150px;
    height: 150px;
}
/*===========Contacts===========*/
.common-style1{
    padding-top: 50px;
    padding-bottom: 50px;
    font-family:Myriad Pro;
}
.common-style2{
    padding-top: 50px;
    padding-bottom: 50px;
    font-family:Myriad Pro;
}
.googlemap{
    /*border: 2px solid #bbb9b9;*/
    border: 2px solid rgba(187, 185, 185, 0.5);
}
.contact-us{
    margin: 0px 0px 15px 0px;
}
.wpcf7 form.wpcf7-form p {
    position: relative;
    font-weight: 600;
    margin: 0 0 20px!important;
}
.wpcf7-form-control-wrap input{
    box-sizing: border-box;
    width: 100%!important;
    max-width: 100%;
    margin: 5px 0 0;
    background: #ffffff;
    padding: 10px 12px;
    outline: none !important;
    display: block;
    color: #999;
    line-height: 1.6;
    border: 1px solid #dddddd;
}
.wpcf7-form textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100% !important;
    max-width: 100%;
    margin: 5px 0 0;
    padding: 10px 12px;
    outline: none !important;
    border: 1px solid #dddddd;
}
textarea {
    min-height: 60px;
}
.contact-address{
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.wpcf7-form .wpcf7-submit {
    background: #999999;
    color: #ffffff;
    border: none;
    font-weight: 700;
    padding: 14px 20px 14px 20px;
    font-size: 15px;
    border-radius: 2px;
}
.contact-form{
    padding-top: 60px;
    overflow: hidden;
}
.callTime{
    padding-top: 50px;
}
.callTime h2{
    margin-top: 0;
}

/*===========Details==========*/
.mjh_projectLocation,
.mjh_building,
.mjh_tApartments,
.mjh_cDate{
    background: #f1f1f1;
    padding: 10px;
    margin: 0 0 5px 0;
    border-left: 5px solid red;
}
.mjh_projectLocation h3,
.mjh_building h3,
.mjh_tApartments h3,
.mjh_cDate h3{
    margin: 0;
    text-transform: capitalize;
    font-family: 'Myriad Pro';
}
.mjh_projectLocation p,
.mjh_building p,
.mjh_tApartments p,
.mjh_cDate p{
    text-transform: capitalize;
    font-family: 'Myriad Pro';
}
.mjh_lMap{

}
#floorPlans h4,
#photos h4{
    margin: 0;
    padding: 20px 0px;
    text-transform: capitalize;
}
/*=========queries==========*/
.common_query{
    padding: 30px 0px;
}
.common_query h2{
    margin-top: 0;
    text-transform: uppercase;
}
.common-style1 .widgets_on_page{
    min-height: 200px;
}
.common-style1 .widgets_on_page .widget.widget_nav_menu h2{
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.common-style1 .widgets_on_page .widget.widget_nav_menu .menu-contactussubnav-container li a{
    color: #404040;
    text-decoration: none;
    font-size: 15px;
    display: block;
}
.common-style1 .widgets_on_page .widget.widget_nav_menu .menu-contactussubnav-container #menu-contactussubnav li{
    background: #f1f1f1;
    padding: 10px 15px 5px;
    margin: 5px 0;
    border-left: 5px solid red;
}
.common-style1 .widgets_on_page .widget.widget_nav_menu .menu-contactussubnav-container #menu-contactussubnav li:hover{
    background: #545454;
}
.common-style1 .widgets_on_page .widget.widget_nav_menu .menu-contactussubnav-container #menu-contactussubnav li:hover a{
    color:white;
}
.common-style2 .widgets_on_page{
    min-height: 200px;
}
.common-style2 .widgets_on_page .widget.widget_nav_menu h2{
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.common-style2 .widgets_on_page .widget.widget_nav_menu .menu-contactussubnav-container li a{
    color: #404040;
    text-decoration: none;
    font-size: 15px;
    display: block;
}
.common-style2 .widgets_on_page .widget.widget_nav_menu .menu-contactussubnav-container #menu-contactussubnav li{
    background: #f1f1f1;
    padding: 10px 15px 5px;
    margin: 5px 0;
    border-left: 5px solid red;
}
.common-style2 .widgets_on_page .widget.widget_nav_menu .menu-contactussubnav-container #menu-contactussubnav li:hover{
    background: #545454;
}
.common-style2 .widgets_on_page .widget.widget_nav_menu .menu-contactussubnav-container #menu-contactussubnav li:hover a{
    color:white;
}
.sales_marketingPeople{
    margin: 0 194px;
}
/*=========Responsive-media==========*/
@media (max-width: 768px){
    .scrollToRight{
        display: none;
    }
    .scrollToLeft{
        display: none;
    }
    .homebody {
        padding-top: 20px !important;
    }
    #isotope-list{
        height:auto !important;
    }
    #photos{
        padding-top:40px;
    }
    #floorPlans{
        padding-top:40px;
    }
    #home {
        padding-top: 156px;
    }
    .projectheader {
        background: #fff;
        width: 100%;
        padding-top: 10px;
        z-index: 9999;
        position: fixed;
    }
    .main-cont{
        position: relative;
        top: 0px;
        padding-top: 105px;
    }

    .bridgeholdingLogo img {
        /*-webkit-transition: all 1s ease-in-out;*/
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: none;
    }
    /*=======HomePage=========*/
    .header{
        top: -8px;
    }
    .home-cat-proj{
        float: none;
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }
    .isotopeitem.item{
        width: 50%;
        position: relative!important;
        left: initial!important;
        top: initial!important;
        margin-botton: 40px !important;
    }
    .singleItems{
        margin-bottom: 40px;
    }
    .projectNameCatwise{
        font-size: 18px;
        height: 55px;
    }
    .projectNameCatwise span{
        font-size: 12px;
    }
    #mega-menu-wrap-new-menu,
    #mega-menu-wrap-new-menu #mega-menu-new-menu,
    #mega-menu-wrap-new-menu #mega-menu-new-menu ul.mega-sub-menu,
    #mega-menu-wrap-new-menu #mega-menu-new-menu li.mega-menu-item,
    #mega-menu-wrap-new-menu #mega-menu-new-menu a.mega-menu-link{
        position: static;
        text-transform: capitalize !important;
        font-family:Myriad Pro;
        padding: 0px;
        background-color: white;
        font-size: 20px;
    }

    #mega-menu-wrap-new-menu #mega-menu-new-menu > li.mega-menu-item > a.mega-menu-link{
        font-size: 16px;
    }
    #mega-menu-wrap-new-menu #mega-menu-new-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item:first-child > a.mega-menu-link{
        font-size: 16px;
    }
    #mega-menu-wrap-new-menu #mega-menu-new-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link{
        font-size: 16px;
    }
    #gallery-6 .gallery-item {
        float: left;
        margin-top: 0px !important;
        text-align: center;
        width: 46% !important;
        margin-right: 4%;
    }

    #gallery-3 img {
        border: 2px solid #cfcfcf;
        width: 100%;
        border-radius: 100%;
        height: 163px;
    }
    .marketing{
        padding-top: 32px;
    }
    .catWiseProjects ul li a.selected{
        font-size: 12px;
    }
    .catWiseProjects ul li a{
        font-size: 12px;
    }

    .mjh_aboutCompany h3{
        font-size: 44px;
    }
    .contact-form{
        padding-top: 0px;
    }
    .callTime{
        padding-top: 0px;
    }
    .projectsCatagory ul li a{
        font-size: 11px;
    }
    .contact-address{
        margin-bottom: 5px;
    }
    .common-style1 .widgets_on_page .widget.widget_nav_menu h2{
        padding-top: 10px;
    }
    .t-name h1{
        font-size: 28px;
    }
    #footer{
        padding-top: 0px;
        position: relative !important;
    }
    .footertow h3{
        font-size: 16px;
    }
    .footerthree h3{
        font-size: 8px !important;
    }

    .footertow h4{
        margin-top: 10px;
    }
    .slogan{
        display: none;
    }
    .navbar-toggle{
        margin-right: 0px;
    }
    #myScrollspy.tablists{
        top: 30px;
        margin-top: -3px;
    }
    #myScrollspy{
        position: fixed;
        top:145px;
        background: white;
        left: 0;
        right: 0;
        margin: auto;
        padding-bottom: 0px;
        padding-top:0px;
        border-bottom: 1px solid red;
    }
    .sales_marketingPeople{
        margin: 0px;
    }
    .mjh-catagory{
        padding-top: 105px;
    }
    .navbar-collapse.in{
        position: relative;
        z-index: 9999;
        background: white;
    }
    a.scrollToTop {
        width: 40px;
        height: 36px;
        padding: 8px 10px;
        text-align: center;
        background: rgb(237, 28, 36);
        font-weight: bold;
        color: white;
        text-decoration: none;
        position: fixed;
        top:70%;
        bottom: 0;
        margin: auto;
        right: 10px;
        display: none;
        z-index: 99999;
        bottom: -369px !important;
    }
    .common-style1{
        padding-top: 10px;
    }
    .common-style2{
        padding-top: 10px;
    }
    .mjh_aboutCompany h3 {
        font-size: 30px;
        top: 40%;
    }
    .mjh_aboutCompany{
        padding-top: 0px;
    }
    .mjh_abcompanyy{
        background-image: none !important;
    }
    .marketing ul{
        margin: 0px !important;
    }
    .projectName{
        padding-top: 0px;

    }

}
/**********Desktop-tab**********/
@media (min-width: 768px){
    /***********Navebar***********/
    .navbar-right {
        float: right !important;
        margin-right: -15px;
        padding-top: 55px;
    }
    .navbar-nav>ul li {
        float: left;
    }
    .navbar-nav>ul li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-collapse.collapse{
        float: right !important;
        margin-right: -15px;
        padding-top: 20px;
    }
    .mjh-navbarCollapse{
        padding-top: 8px!important;
    }


}

@media only screen and (min-device-width : 320px) and (max-device-width : 350px) {
    .homebody {
        padding-top: 10px !important;
    }
    .mjh_aboutCompany {
        padding-top: 0px;
    }
    .mjh_aboutCompany h3 {
        font-size: 30px;
        top: 33%;
    }
    .projectNameCatwise {
        font-size: 14px;
    }
    .projectName{
        font-size:14px;
    }

    #home {
        padding-top: 10px;
    }


    #gallery-3 img{
        height: 130px;
    }
    .mjh_abcompany p{
        box-shadow: none;
    }
    .projectsCatagory li{
        width: 90px;
    }
    .footertow h4 {
        margin-top: 14px;
        font-size: 8px;
    }
    .footertow h3 {
        font-size: 12px;
    }
    .projectsCatagory ul li a {
        font-size: 9px;
    }
    .t-name h1 {
        font-size: 20px;
    }
    .common-style1 {
        padding-top: 0px;
    }
    .projectsCatagory{
        font-size: 10px;
        padding-top: 5px;
    }
    #filters li {
        display: inline-block;
        margin: 0px 1px;
    }
    .projectsCatagory ul{
        width:86px;
    }
    .projectsCatagory ul li a {
        font-size: 8px;
        padding: 10px 6px;
    }
    #myScrollspy{
        margin-top: -25px;
    }
    .common-style1 {
        padding-top: 0px;
    }

}
@media only screen and (min-device-width : 360px) and (max-device-width : 400px) {
    #gallery-3 img{
        height: 146px;
    }
    .mjh_abcompany p{
        box-shadow: none;
    }
    #filters li {
        display: inline-block;
        margin: 0px 2px;
    }
    .customeContainer {
        padding-top: 15px;
    }
    #myScrollspy{
        top: 88px;
    }
    .homebody{
        padding-top:10px !important;
    }
    .mjh_aboutCompany {
        padding-top: 0px;
    }
    .mjh_aboutCompany h3 {
        font-size: 30px;
        top: 38%;
    }
    #singlePageScroll {
        padding: 150px 0px 0px !important;
    }
    .projectName{
        font-size: 16px;
    }
    #home {
        padding-top: 10px;
    }
    .common-style1 {
        padding-top: 20px;
    }
    .common-style1 {
        padding-top: 0px;
    }
    .currentCategory {
        position: relative;
        padding-right: 21px;
        padding-top: 2px;
        font-size: 12px;
    }
    .footertow h4 {
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 7px;
        letter-spacing: 3px;
    }
    .projectNameCatwise {
        font-size: 16px;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 800px) {

    #gallery-6 .gallery-item {
        /* float: left; */
        margin-top: 0px !important;
        text-align: center;
        width: 31% !important;
        margin-right: 2%;
    }
    .


    item.item{
        width: 20%;
    }
    .contact-form {
        padding-top: 20px;
    }

}





#isotope-list{
    width: 100% !important;
    /*min-height: 300px;*/
    overflow-y:hidden!important;

}

.nav.nav-pills{
    float: right;
    font-family: 'Myriad Pro';
}
.nav.nav-pills > li > a {
    color: black;
    position: relative;
    display: block;
    padding: 11px 6px;
    border-left: 1px solid red;
    border-radius: 0;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: red;
    background-color: #eee;
}
#singlePageScroll{
    padding: 200px 0px 0px;
}
#singlePageScroll img{
    width:100%;
    height: 100%;
    padding-bottom: 10px;

}
#specification{
    font-family: "Letter Gothic Std";
}
a.scrollToTop{
    width:50px;
    height:60px;
    padding:20px 10px;
    text-align:center;
    background: rgb(237, 28, 36);
    font-weight: bold;
    color: white;
    text-decoration: none;
    position:fixed;
    top:0px;
    bottom: 0;
    margin: auto;
    right:10px;
    display:none;
    z-index: 99999;
}

.scrollToTop .glyphicon{
    font-size: 25px;
}
a.scrollToBottom{
    width:50px;
    height:60px;
    padding:20px 10px;
    text-align:center;
    background: rgb(237, 28, 36);
    font-weight: bold;
    color: white;
    text-decoration: none;
    position:fixed;
    top:130px;
    bottom: 0;
    margin: auto;
    right:10px;
    /*display:none;*/
    z-index: 99999;
}

.scrollToBottom .glyphicon{
    font-size: 25px;
}
a.scrollToRight{
    width:50px;
    height:60px;
    padding:20px 10px;
    text-align:center;
    background: rgb(237, 28, 36);
    font-weight: bold;
    color: white;
    text-decoration: none;
    position:fixed;
    top:-50px;
    bottom: 0;
    margin: auto;
    right:30px;
    /*display:none;*/
    z-index: 99999;
}

.scrollToRight .glyphicon{
    font-size: 25px;
}
a.scrollToLeft{
    width:50px;
    height:60px;
    padding:20px 10px;
    text-align:center;
    background: rgb(237, 28, 36);
    font-weight: bold;
    color: white;
    text-decoration: none;
    position:fixed;
    top:-50px;
    bottom: 0;
    margin: auto;
    left:30px;
    /*display:none;*/
    z-index: 99999;
}

.scrollToLeft .glyphicon{
    font-size: 25px;
}
